@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
}

/* body{
    margin: 0px 40px;
    background-color: #c9a662;
} */

/* SECTION EXOTIC PLACES */
.section-exotic-places{
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.section-exotic-places p{
    color: gray;
    font-size: 14px;
}
.section-exotic-places h1{
    font-size: 40px;
}
.section-exotic-places-conteiner-cards{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    padding-top: 90px;
    padding-bottom: 30px;
}

.section-exotic-places-card{
    width: 100%;
    height: 100vh;
}
.section-exotic-places-card figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.50);
}
.section-exotic-places-card figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.section-exotic-places-card figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 47, 47, 0.5);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.section-exotic-places-card figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.section-exotic-places-card figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.section-exotic-places-card figure:hover > img{
    transform: scale(1.3);
}
.section-exotic-places-card figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.section-exotic-places-card figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.section-exotic-places-buttom{
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: #c9a662;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: all 400ms ease;
}
.section-exotic-places-buttom:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

/* SECTION 50% */
.section-50-desc{
    height: 300px;
    background-color: aliceblue;
    display: flex;
    align-items: center;

}
.section-50-desc img{
    height: 300px;
}
.section-50-desc-detall p{
    color: gray;
    font-size: 14px;
}
.section-50-desc-detall h1{
    font-size: 40px;
}


/* SECTION BLOG */

.section-blog{
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.section-blog p{
    color: gray;
    font-size: 14px;
}
.section-blog h1{
    font-size: 40px;
}
.section-blog-conteiner-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 70%;
    
}
.section-blog-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
}
.section-blog-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.section-blog-card:hover .section-blog-card-inner {
    transform: rotateY(180deg);
}
.section-blog-card-front, .section-blog-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.section-blog-card-front {
    background-color: #bbb;
    color: black;
}
.section-blog-card-back {
    padding: 10px;
    width:300px;
    height:300px;
    background-color: #c9a662;
    color: white;
    transform: rotateY(180deg);
}
.section-blog-card-back p{
    padding-top: 5px;
    color: white;
}



/* FOOTER */

.footer-conteiner{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.footer-item-1{
    
    background-color: #f7f7f7;
    height: 140px;
    
}
.footer-item-1 img{
    padding-top: 20px;
    width: 60px;
    height: auto;
    animation-name: moveravion;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes moveravion{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(2400%);
    }
    
}

.footer-item-2{
    background-color: white;
    height: 75px;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    /* transition: all 400ms ease-out;*/
	cursor: default; 
    /* border-radius: 5px; */
}
.footer-item-2:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transform: translateY(-3%);
   
}

.footer-item-2-contact-1{
    display: flex;
    align-items: center;
}
.footer-item-2-contact-1 p{
    color: #c9a662;
}

.footer-item-2-contact-2{
    display: flex;
    align-items: center;
}
.footer-item-2-contact-2 p{
    color: gray;
}

.footer-item-2-rectangulo{
    width: 30px;
    height: 50px;
    margin-right: 10px;
    border-width: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #c9a762d7;
}
.footer-item-3{
    background-color: #c9a662;
    height: 350px;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}
.footer-item-3-contenid-1 {
    color: white;

}
 .footer-item-3-contenid-1 h1{
    padding-bottom: 15px;
}
.footer-item-3-contenid-1 p{
    margin-top: 8px;
}

.footer-item-3-contenid-2 h1{
    padding-bottom: 15px;
}
.footer-item-3-contenid-2 p{
    color: white;
    margin-top: 8px;

}

.footer-item-3-grilla-img {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    padding: 10px;
    
}
.footer-item-3-grilla-img img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    
}

.footer-item-3-author{
    background-color: #c9a662;
    height: 40px;
    width: auto;
}
.footer-item-3-author-linea{
    height: 1px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}
.footer-item-3-author-p{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-top: 10px;
    padding-left: 50px;
}
